<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @generic_model.user %>
</p>

<%= link_to 'Edit', edit_generic_model_path(@generic_model) %> |
<%= link_to 'Back', generic_models_path %>
